@font-face {
	font-family: "Anders";
	url: ('../fonts/Anders.ttf')  format('truetype');	
}

@font-face {
	font-family: "Metropolis";
	url: ('../fonts/Metropolis.otf') format('opentype');
}

.jumbotron {
  background-image:url('../img/epicheader.jpg');
  height: 795px;
  background-repeat: no-repeat;
  background-size: cover;
}

div.container {
    height: 10em;
    position: relative 
}
div.container h1 {
	color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.headfirst {
	font-family: 'Lato', sans-serif; 
	font-weight: bolder;
}

.headsecond {
	font-family: 'Anders';
}

.headthird {
	font-family: 'Metropolis';
}















