@font-face {
	font-family: "Anders";
	src: url('../fonts/Anders.ttf')  format('truetype');	
}

@font-face {
<<<<<<< HEAD
	font-family: "Chesbone";
	url: ('../fonts/chesbone.ttf') format('truetype');
=======
	font-family: "Metropolis";
	src: url('../fonts/Metropolis.otf') format('opentype');
>>>>>>> origin/master
}

.jumbotron {
  background-image:url('../img/epicheader.jpg');
  height: 795px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.headfirst {
	font-family: 'Lato', sans-serif; 
	font-weight: bolder;
}

.headsecond {
	font-family: 'Anders';
}

.headthird {
	font-family: 'Chesbone';
}















																																	
