@font-face {
	font-family: "Anders";
	src: url('../fonts/Anders.ttf')  format('truetype');	
}

@font-face {
	font-family: "Metropolis";
	src: url('../fonts/Metropolis.otf') format('opentype');
}

@font-face {
	font-family: "Chesbone";
	src: url('../fonts/chesbone.ttf') format('truetype');
}


@keyframes largertext {
	0%  {font-size:61px;}
	25% {font-size:62px;}
	50% {font-size:63px;}
	75% {font-size:64px;}
	100% {font-size:65px;}
}

/**
 * 	Classes
 * jumbotron
 *	* container
 *  * h1
 * headfirst
 * headsecond
 * headthird
 *
 */
 


.sidebar ul li {
	font-family: 'Anders';
}


#huge {
	background-image:url('../img/epicheader.jpg');
	height: 795px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
	position: relative;
	top:100px;
}

.jumbotron h1 {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 90px; 
	font-size:60px;
}

.jumbotron h1:focus {
	animation-name: largertext;
	animation-duration: 0.1s;
}

.headfirst {
	font-family: 'Lato', sans-serif; 
	font-weight: bold;
}

.headsecond {
	font-family: 'Anders';
}

.headthird {
	font-family: 'Chesbone';
}


body, html {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: helvetica;
    font-weight: 100;
    bgcolor: #cc0000;
}
.container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
    left: 240px;
}
 
.swipe-area {
    position: absolute;
    width: 50px;
    left: 0;
top: 0;
    height: 100%;
    background: #f3f3f3;
    z-index: 0;
}
#sidebar {
    background: #000;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul li {
    margin: 0;
}
#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #303030;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
    background: #303030;
}

#backdrop {
	background-color: #BA4B00;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
padding-left: 60px;
width: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.main-content #sidebar-toggle {
    background: orange;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
}
.main-content #sidebar-toggle .bar{
     display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;   
}
.main-content #sidebar-toggle .bar:last-child{
     margin-bottom: 0;   
}












																																	
